<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Home Page</title>
    <link rel="stylesheet" href="/css/blog.css">
</head>

<body>

    <%- include("components/navbar") %>

    <!-- Hero Section -->
    <div class="hero">
        <h1>Blog Management System</h1>
        <p>Delivering excellence through innovative solutions.</p>
        <button>Get Started</button>
    </div>

    <!-- Cards Container -->
    <div class="card-container">
        <!-- Loop through each blog and create a card -->
         <% if(blogs.length == 0 ){ %>
            <h1>No Blogs Found</h1>
         <% } %>

        <% blogs.forEach((blog)=> { %>
            <div class="card">
                <div class="card-title">
                    <%= blog.title %>
                </div>
                <div class="card-subtitle">
                    <%= blog.subtitle %>
                </div>
                <div class="card-description">
                    <%= blog.description.substring(0, 100) %>...
                </div>                
                <a href="/api/singlePage/<%= blog.id %>" class="read-more">Read More</a>
            </div>
            <% }) %>
    </div>

    
    <%- include("components/footer.ejs") %>

</body>

</html>